name: organibot
description: "An AI based chatbot for learning organic chemistry"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  flutter_dotenv: ^6.0.0
  dio: ^5.9.1
  flutter_riverpod: ^3.2.1
  intl: ^0.20.2
  animated_text_kit: ^4.3.0
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
    - assets/icon/

fonts:
   - family: primary
     fonts:
        - asset: assets/font/Roboto-Italic.ttf
        

    